.parent3{
    height: 300px;width: 500px;
    background-color: blanchedalmond;
    border: 1px solid black;border-radius: 30px;
}
.parent2{
    height:300px;width: 500px;
    background-color: rgb(214, 247, 247);
    border: 1px solid black;border-radius: 30px;
}.parent1{
    border: 1px solid black;width: 500px;
    height: 400px;
    background-color: aquamarine;border-radius: 30px;
}.list li a{
    text-decoration: none;
   
} 
.list{
display: flex;
justify-content: space-around; list-style-type: none;}
.parent{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;justify-content: center;
}.top{
    display: flex;
    flex-direction: column;
}.one{
    background-color: yellow;
    padding: 20px;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}.main{
    display: flex;gap: 50px;
    flex-direction: row;
    background-image: url(https://images.unsplash.com/photo-1722482457553-17a3fdec1036?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDd8Ym84alFLVGFFMFl8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
align-items: center;
justify-content: center;
}
